<script type="text/x-template" id="atomic-filter-editor">
    <div id="atomicFilterEditor">
        <div class="filterRow" v-if="letter != null">
            <div  class="col1">
                Filter
            </div>
            <div class="col2" >
                <div class="letter" > {{ letter }} </div>
            </div>
        </div>
        <div class="filterRow">
            <div class="col1"> Negate </div> 
            <div class="col2">
                <input type="checkbox" v-model="negate" />
            </div>
        </div>

        <div class="filterRow">
            <div class="col1"> Ignore Case </div> 
            <div class="col2">
                <input type="checkbox" v-model="ignoreCase" />
            </div>
        </div>

        <div class="filterRow">
            <div class="col1"> Fieldname </div>
            <div class="col2">
                <select v-model="fieldName">
                <!-- inline object literal -->
                <option v-for="fieldName in Object.keys( enrichment.stats.byField )" :value="fieldName">{{fieldName}}</option>
            </select>
        </div>
    </div>

        <div class="filterRow">

            <div class="col1"> Function </div>
            <div class="col2">
                <select v-model="functionName" @change="valueInit()">
                    <option v-for="atomicFunction in atomicFunctions" :value="atomicFunction">{{atomicFunction}}</option>
                </select>
            </div>
        </div>

        <div class="filterRow" v-if="(functionName != 'empty') && (functionName != null)">

            <div class="col1"> Parameter </div>
            <!-- Function argument area -->

            <div class="col2" v-if="['matches','contains','equals'].includes( functionName )" >
                <div class="valueList">
                <!-- the functions that allow for multiple selections / inputs -->
                <!-- adding removing editing -->
                    <div v-for="(value, index) in values">
                        <div class="valueRow">
                            <div v-if="index == activeValue">
                                <div v-if="'equals' == functionName">
                                    <input list="fieldValues" v-model="values[activeValue]" />
                                    <datalist id="fieldValues">
    <option v-for="value in fieldValues( fieldName )" >{{value}}</option>
                                    </datalist>
                                </div>
                                <div v-else> 
                                    <input v-model="values[activeValue]" />
                                </div>
                            </div>
                            <div v-else @click="activeValue = index">
                                {{ values[index] }}
                            </div>
                            <div v-if="(index == values.length-1) && values[index] != ''">
                                <img src="images/mapping/images/icons/add.png" @click="addValue( index )">
                            </div>
                            <div v-if="(values.length>1) && ( index != activeValue )">
                                <img src="images/mapping/images/icons/delete.png" @click="values.splice( index, 1 )" />	
                            </div>
                        </div>
                        <div class="valueSpacer" v-if="index < values.length-1">
                            <!-- Spacer between values-->
                            - or -
                        </div>		
                    </div>					
                </div>		
            </div>

            <div  class="col2" v-if="['smaller','greater','greaterOrEqual', 'set', 'setByField'].includes( functionName )" >
                <!-- Single argument functions free text -->
                <select v-if="'setByField'== functionName" class="selectField" v-model="values[0]">
                    <option v-for="fieldName in enrichment.stats.fields" :value="fieldName">{{fieldName}}</option>
                </select>		
                <input v-else v-model="values[0]" />
            </div>
            <div  class="col2" v-if="'replace' == functionName " >
                <div class="valueList">
                    <!-- Two argument function -->
                    <div> Replace </div>
                    <input type="text" v-model="values[0]" />
                    <div> With </div>
                    <input type="text" v-model="values[1]" />
                </div>
            </div>	
        </div>	

        <div class="filterRow buttons">
            <div @click="saveAtomicFilter()"> Save Filter</div>
            <div @click="$emit('close-atomic-editor')"> Cancel </div>
        </div>
    </div>
</script>

<style>

#atomicFilterEditor .buttons {
    display:flex;
    justify-content:space-around;
}

#atomicFilterEditor {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    width:80%;
}

#atomicFilterEditor .filterRow {
    margin-top:0.5em;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:1em;
}
#atomicFilterEditor .col1 {
    display:flex;
    width: 20%;
    justify-content:flex-end;
    align-items:flex-start;
}

#atomicFilterEditor .col2 {
    display:flex;
    width: 60%;
    justify-content:flex-start;
    align-items:flex-start;
}

#atomicFilterEditor .valueList {
    display:flex;
    flex-direction:column;
}

#atomicFilterEditor .valueRow {
		display:flex;
		flex-direction:row;
}

#atomicFilterEditor .valueSpacer {
		display:flex;
		align-items:center;
		height:2em;
}


</style>

